pip==19.1.1
bumpversion==0.5.3
Sphinx==1.8.3
wheel==0.33.4
coverage==4.5.2
tox==3.22.0
flake8==3.6.0
watchdog==0.9.0
twine==1.12.1

pytest==4.5.0
pytest-runner==4.2
pytest-mock==1.10.0
requests-mock==1.6.0
